services:
  web:
    build: app
    ports:
      - 80:80
    depends_on:
      - db
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: medallerox
      POSTGRES_PASSWORD: medallero123==
      POSTGRES_DB: posteet_db
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: {}