services:
  proxy:
    image: nginx:latest
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - webapp
  webapp:
    image: arm64v8/node:lts-slim
    working_dir: /app
    volumes:
      - ./webapp:/app
    command: sh -c "npm install && npm run build && npm run dev"
    ports:
      - 5173:5173
    depends_on:
      - api
  api:
    build: api
    ports:
      - 8080:8080
    depends_on:
      - db
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: medallerox
      POSTGRES_PASSWORD: medallero123==
      POSTGRES_DB: posteet_db
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: {}